<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Lec'hiennoù talvoudus / Adresses utiles</h6>
  </div>
  <div class="card-body" style="text-align:center;">
    <a href="https://geriafurch.bzh/" target="blank">
    <figure style="text-align: center; margin: 1.5rem; margin-top: 0; float: left;">
      <img src="https://geriafurch.bzh/apple-icon-114x114.png" style="border-radius: 1.5rem;" alt="Balafenn">
      <figcaption>Geriafurch</figcaption>
    </figure>
    </a>
    <a href="http://www.geobreizh.bzh/" target="blank">
    <figure style="text-align: center; margin: 1.5rem; margin-top: 0; float: left;">
      <img src="http://www.geobreizh.bzh/wp-content/uploads/2020/05/cropped-Logo-Geobreizh-carr%C3%A9-1-180x180.png" style="border-radius: 1.5rem; height: 114px;" alt="Erminig">
      <figcaption>Geobreizh</figcaption>
    </figure>
    </a>
    <a href="http://drouizig.org/" target="blank">
    <figure style="text-align: center; margin: 1.5rem; margin-top: 0; float: left;">
      <img src="http://drouizig.org/images/drouizig-drouiz.png" style="border-radius: 1.5rem; height: 114px;" alt="Drouizig">
      <figcaption>An Drouizig</figcaption>
    </figure>
    </a>
    <a href="http://meurgorf.brezhoneg.bzh/" target="blank">
    <figure style="text-align: center; margin: 1.5rem; margin-top: 0; float: left;">
      <img src="http://meurgorf.brezhoneg.bzh/images/logo-OPLB.png" style="border-radius: 1.5rem; height: 114px;" alt="an Ofis">
      <figcaption>OPAB</figcaption>
    </figure>
    </a>
    <a href="https://www.brezhoneg.org/fr/associations" target="blank">
    <figure style="text-align: center; margin: 1.5rem; margin-top: 0; float: left;">
      <img src="https://www.brezhoneg.org/sites/all/themes/kuzul_omega/logo.png" style="border-radius: 1.5rem; height: 114px;" alt="KB">
      <figcaption>Kuzul ar brezhoneg</figcaption>
    </figure>
    </a>
  </div>
</div>
