<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary" id="TLCTitle"></h6>
  </div>
  <div class="card-body">
    <div>
      <audio src="" id="audioSource" type="audio/wav">
    </div>
    <div style="text-align:center">
      <div class="">
        <button type="button" onclick="add(-10)"> -10' </button>
        <button type="button" id="playBtn">Écouter</button>
        <button type="button" onclick="add(10)"> +10' </button>
      </div>
      <div class="">
        <button style="margin-right:20rem;"type="button" onclick="previousFile()"> << </button>
        <button style="margin-left:20rem;" type="button" onclick="nextFile()"> >> </button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  // Changes the title of the card following the advancement
  var folder = '<%= learningSource %>';
  var file = '<%= file %>';
  var audioSource = document.getElementById('audioSource');
  var playPause = document.getElementById('playBtn');

  var s, p, titleText, title, h1Text, h1;

  function setTLCTitle(file) {
    s = Math.ceil(parseInt(file) / 7);
    p = parseInt(file) % 7;
    p = (p == 0) ? 7 : p;

    if (s > 2) {
      s = `Sizhun ${s}`
    } else {
      s = `Semaine ${s}`
    }
    titleText = `${s} / Podcast ${p}`;
    title = document.getElementById('TLCTitle');
    title.innerHTML = titleText;

    h1Text = (parseInt(file) == null)? 'Accueil' :  `Kentel ${file}`;
    h1 = document.getElementsByTagName('h1');
    h1[0].innerText = h1Text;
  }

  function chargeData(folder, file) {
    setTLCTitle(file);
    audioSource.setAttribute("src", `/deskiñ/${folder}/${file}`);
  }

  window.onload = chargeData(folder, file);

  //Play&Pause button
  function playAndPause() {

    function switchState() {
      if (audioSource.paused == true) {
        audioSource.play();
        playPause.innerHTML = "Pause";
      } else {
        audioSource.pause();
        playPause.innerHTML = "Continuer";
      }
    }

    function checkKey(e) {
      if (e.keycode == 32 ) {
        switchState();
      }
    }

    playPause.addEventListener('click', function() {
      switchState();
    }, false);

    window.addEventListener("keypress", checkKey, false);
  }

  window.onload = playAndPause();

  function add(x) {
    audioSource.currentTime += x;
  }

  //Previous&Next buttons
  function previousFile() {
    file = parseInt(file);
    file--;
    return chargeData(folder, file), chargeMetaData(folder, file);
  }

  function nextFile() {
    file = parseInt(file);
    file++;
    return chargeData(folder, file), chargeMetaData(folder, file);
  }

  function buttonLimit() {}

</script>
