<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Gourc'hemennoù! - Félicitations !</h6>
  </div>
  <div class="card-body">
    Vous y êtes presque !... mais avant de passer à l'action,
    nous souhaiterions vous donner quelques conseils pour vous permettre
    d'exploiter au mieux vos capacités :<br> <br>
    <ul>
      <li>
        La méthode se base sur un rythme hebdomadaire,
        le but sera d'achever un minimum de sept enregistrements par semaine.
        Idéalement un par jour, mais toujours sept par semaine.
      </li><br>
      <li>
        Les enregistrements sont accompagnés de notes, lisez-les !
        Elles vous seront parfois très utiles !
      </li> <br>
      <li>
        Pour l'heure, la méthode ne propose qu'un seul dialecte.
        Si vous ne venez pas de Basse Cornouaille nous vous conseillons
        de vous baser sur la pronociation, plus neutre et
        plus proche des autres dialectes de Bleuenn.
        Sinon, concentrez vous sur la pronociation d'Alan.
      </li><br>
      <li>
        Nous vous le rappellerons souvent au cours de votre apprentissage,
        dès que possible, allez trouver des gens pour mettre en pratique ce que
        vous aurez appris.
      </li><br>
    </ul>
    <div style="text-align:center;">
    A vos marques... <br> <br> Prêts?... <br> <br>
    <form method="post" action="/penn">
        <button type="submit">Bec'h de'i!</button>
    </form>
    </div>
  </div>
</div>

<script>
  var mainTitle = document.getElementById("mainTitle");

  mainTitle.innerText = "Gourc'hemennoù!";

</script>
