<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Degemer mat / Bienvenue</h6>
  </div>
  <div class="card-body">
    <p>Vous avez créé un compte pouvez maintenant vous abonner!<br>
      Voici quelques ressources utiles en attendant de vous retrouver très vite sur nos podcasts !</p>
  </div>
</div>
