<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary" id="TRCTitle"></h6>
  </div>
  <div class="card-body" id="TRCContent">
  </div>
</div>

<script type="text/javascript">
  // Request and put the metadata in the cards
  var titleTRC = document.getElementById('TRCTitle');
  var contentTRC = document.getElementById('TRCContent');

  document.onload = chargeMetaData(folder, file);

  function chargeMetaData(folder, file) {
    var xhr = new XMLHttpRequest();
    var url = `/meta/${folder}/${file}`;


    xhr.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var metaData = JSON.parse(this.responseText);
        setTRCTitle(metaData), setTRCBody(metaData);
      }
    }

    xhr.open('GET', url, true);
    xhr.send();

    function setTRCTitle(data) {
      titleTRC.innerHTML = data.title;
    }
    function setTRCBody(data) {
      contentTRC.innerHTML = data.body;
    }
  }

  function goTo(x) {
    audioSource.currentTime = x;
    audioSource.play();
  }

</script>
