<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">La langue bretonne, c'est vous !</h6>
  </div>
  <div class="card-body">
    <p>Au début du siècle passé on estime qu'un million de personne parlaient quotidiennement breton.
    Cette langue, c'est suite aux invasions de l'île de Bretagne par les Anglo-Saxons que les Bretons ont accosté en Armorique en emportant avec eux leurs langue et leur culture romano-celtique.
    Face aux Francs ils se considèrent d'ailleurs encore comme des <a href="https://fr.wikipedia.org/wiki/Excerpta_de_Libris_Romanorum_et_Francorum"> citoyens romains</a>, aujourd'hui l'empire n'est plus, mais on parle toujours breton !
    L'autre grand groupe en Bretagne, parlant des dialectes Gallo-Roman, sont restés majoritaires à l'Est de la Bretagne (aujourd'hui 'Haute-Bretagne') et parleront le gallo, une langue d'oïl plus proche du français bien qu'aussi influencée par le Breton.
    La langue Bretonne est restée majoritaire à l'Ouest, donnant naissance à une très grande diversité interne (linguistique, vestimentaire etc...).
  </p>
    <p>Le breton, toujours majoritaire en Basse-Bretagne jusqu'à très récemment va subir de plein fouet des changements majeure de la société Bretonne.
    Premièrement une politique scolaire de francisation agréssive, sinon traumatisante pour la jeunnesse bretonne de l'époque.
    La méthode utilisée, comme dans de nombreuses colonies de l'époque, le racisme en moins dira-t-on, fut l'apprentissage de la honte de sa langue maternelle, et le mépris de tout ce qui n'était pas franco-français, pour ne pas dire parisien.
    Les deux guerres mondiales ont également joué un rêle majeur dans ce qu'on peut appeler une politique d'éradication culturelle bretonne, sous couvert du progrès.
    Au sortir de la deuxième guerre mondiale quasiment plus personne n'éduquait ses enfants dans ce qui était encore la langue maternelle de la majorité des gens du pays.
  </p>
  <p>
    Personne... à l'exception d'une poignée d'irréductibles Bretons, qui étaient trop conscients de la valeur et de la richesse portées par cette langue.
    Et depuis, d'autres les ont rejoint, en refusant la honte qu'on leur imposait encrore et ils ont travaillé, et continuent de travailler pour la réabilitation de leur culture.
    Des <a href="https://fr.wikipedia.org/wiki/Classe_bilingue_franco-bretonne">écoles</a> aux <a href="https://fr.wikipedia.org/wiki/KEAV">colonies de vacances</a>, des <a href="https://www.culture-bretagne.net/comment-ecrire-cheque-en-breton/">chéquiers</a> aux <a href="https://www.senat.fr/questions/base/2012/qSEQ121103335.html">livrets de familles</a>,
    sans oublier les <a href="http://www.fr.brezhoneg.bzh/18-signalisation.htm">panneaux de signalisation</a> et même Facebook ; les racines de la langue étaient trop profondément ancrées pour que les Bretons ne se réapproprient pas leur culture au quotidien, l'eussent-il jamais vraiment perdu.
  </p>
  <p>
    Ici, avec Eienn nous pensons que c'est à vous d'écrire la suite de cette histoire, jour après jour, podcast après podcast, rencontre après rencontre... A vous de jouer ! Bec'h de'i!
  </p>
  </div>
</div>
