<%- include('templates/header.ejs'); %>

  <!-- Page Heading -->
  <h1 class="mb-4 mt-4">A propos d'Eienn</h1>

  <div class="row">
    <!-- Left Column -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Petra eo Eienn?</h6>
        </div>
        <div class="card-body">
          <p>
            Hiziv an deiz, Eienn.bzh a zo ul lec'hienn ma c'hallor deskiñ komz brezhoneg enlinenn.
            Setu a zo palioù intrudu Eienn war ar berr dermen: </p>
            <ul>
              <li>Reiñ d'an dud da anavezout hêrezh sevenadurel Breizh, he zalvoudegezh, he finvidigezh, he liesseurted hag ar re a zifenn anezhi.</li>
              <li>Diskouez n'eo ket dre gar ma tilezjod o yezh gant ar Vreizhiz, gant ma chom laouen ar re-se da adberc'henniñ o yezh.</li>
              <li>Diskouez talvoudegezh ar genrouedad evit seveniñ dazont al liesseurted sevenadurel e Breizh koulz hag er bed.</li>
              <li>Kevreañ, hag ober gobr d'ar re a fell dezho tizhout palioù Eienn evit 2025.</li>
            </ul>
            <br>
            <p>A-barzh 2025 e kavor gant Eienn:
            <ul>
              <li>Stummadurioù klok war holl rannyezhoù pennañ ar brezhoneg, a-live gant un aotreegezh er Skol-Veur ha digoust.</li>
              <li>Stummadurioù war ar Gallaoueg.</li>
              <li>Servijoù all gouest da arc'hantiñ ar palioù meneget a-raok, gant ma toujo ar servijoù-se da Vanifesto Eienn: lojeizoù studierien brezhonek, stummadurioù en embregezhioù, stummadurioù war danvezioù all hag obererezhioù liesseurt all.</li>
              <li>Ur rouedad kevredigezhoù, embregezhioù hag ofisoù publik gouest da stummañ ur milion a vrezhonegerien a-benn 2070.</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Manifesto Eienn</h6>
        </div>
        <div class="card-body">
          <p>1. Ur gwir d'an nen eo deskiñ, komz, bevañ ha labourat e brezhoneg.</p>
          <p>2. Ne c'hall bezañ sevenet ar gwir-se en un doare padus met dre gavout ur c'hempouez etre brezhoneg, gounit arc'hantel ha poell ekologel.</p>
<<<<<<< HEAD
          <p>3. Mard eo labourat evit dazont ur yezh hiroc'h ha startoc'h, setu neuze talvoudegezh dazont ar yezh.</p>
          <p>4. N'eus mod ebet e c'hall bezañ trawalc'h youl hag intrudu un den, pe c'hoazh ur strollad en o-unan. Ar c'henlabour, ar c'hengred hag ar fiziañs eo an alc'hwez.</p>
=======
<<<<<<< Updated upstream
          <p>3. Mard eo labourat evit reiñ un dazont d'ur yezh hiroc'h ha startoc'h, setu neuze talvoudegezh dazont ar yezh.</p>
          <p>4. N'eus mod ebet e c'hall bezañ trawalc'h youl hag intrudu un den, pe c'hoazh ur strollad e-unan. Ar c'henlabour, ar c'hengred hag ar fiziañs eo an alc'hwez.</p>
=======
          <p>3. Mard eo labourat evit dazont ur yezh hiroc'h ha startoc'h, setu neuze talvoudegezh dazont ar yezh.</p>
          <p>4. N'eus mod ebet e c'hall bezañ trawalc'h ivez youl hag intrudu un den, na c'hoazh hini ur strollad en-unan-penn. Ar c'henlabour, ar c'hengred hag ar fiziañs eo an alc'hwez.</p>
>>>>>>> Stashed changes
>>>>>>> interface
          <p>5. Diuntu e rank bezañ an deskadurezh.</p>
          <p>6. Gouestlet eo an deskadurezh d'ar blijadur kompren, ha da netra all.</p>
          <p>7. Degemeret e rank bezañ an holl dre o dellez ha dre o dellez hepken, hep bezañ barnet war berzhioù all.</p>
          <p>8. An demokratelezh a zo ur pal, ouzhpenn ur pal politikel e chom ur pal er gevredigezh hag er bed micherel.</p>
          <p>9. An treuzwelusted a zo rekis en un demokratelezh.</p>
          <p>10. Ar vezh a c'hall cheñch tu bremañ.</p>
        </div>
      </div>
    </div>

    <!-- Right Column -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Qu'est-ce qu'Eienn ?</h6>
        </div>
        <div class="card-body">
          <p>
            Aujourd'hui, Eienn.bzh est un site où tout le monde peut apprendre à parler breton en ligne.
            Voici nos objectifs liés à cette initiative: </p>
            <ul>
              <li>Faire connaitre la culture bretonne, sa valeur, sa richesse et sa diversité ainsi que les gens partageant la même vision.</li>
              <li>Casser le mythe qui voudrait que ce fut de plain gré que les Bretons se sont "converti" à la langue française en Basse-Bretagne.
              En montrant que lorsque les moyens la rendant accessible s'y prêtent les gens sont heureux de renouer avec leur héritage linguistique et culturel.</li>
              <li>Démontrer l'interet des nouvelle technologie pour faciliter cette accéssibilité mentionnée pécédemment.</li>
              <li>Fédérer, et salarier celles et ceux qui désirent prendre part à la réalisation de nos objectifs pour 2025.</li>
            </ul>
            <br>
            <p>Nous ambitionnons de mettre en place d'ici 2025 :
            <ul>
              <li>Des formations en ligne sur chacun des principaux dialectes bretons jusqu'à un niveau équivalent à une license universitaire en la matière et ce gratuitement.</li>
              <li>Des formations en langue Gallèse.</li>
              <li>D'autres services à même de financer ces objectifs, avec la conditions qu'ils intègre la base morale de notre charte: logements étudiants en breton, formation en breton dans les entreprises, autres types de formations plus avancées.</li>
              <li>Poser les bases d'un réseau d'acteurs publiques, privés et associatif cappable de former un million de nouveaux locuteurs de breton en cinquante ans.</li>
            </ul>
          </p>
        </div>
      </div>

      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Charte</h6>
        </div>
        <div class="card-body">
          <p>1. Apprendre, parler, travailler et vivre dans la langue bretonne est un droit pour tous.</p>
          <p>2. Ce droit ne peut être établis de manière durable que dans un équilibre entre la langue elle même, la rentabilité économique et une logique écologique.</p>
          <p>3. Si travailler pour l'avenir de la langue bretonne demande plus de temps et d'énergie, c'est que c'est que ce travail supplémentaire définit la valeur de l'avenir de la langue.</p>
          <p>4. Les initiatives et la volonté d'individus ou de groupes isolés ne peuvent pas suffir. La collaboration, la solidarité et la confiance sont la clef.</p>
          <p>5. L'éducation et l'apprentissage doivent être impartials.</p>
          <p>6. L'éducation est dédier au plaisir de comprendre et à rien d'autre.</p>
          <p>7. Tout le monde doit prétendre à l'intégration, si nécéssaire sur la base de leurs mérites, et sans jamais être jugé sur une autre base.</p>
          <p>8. La démocratie, et le respext des droits humains reste un but, non seulement politique, mais aussi dans la société et le monde professionnel.</p>
          <p>9. La transparence et la libre circulation des informations est l'ultime nécéssité à cette fin.</p>
          <p>10. La honte peut maintenant changer de camps.</p>
        </div>
      </div>
    </div>
    </div>

<%- include('templates/footer.ejs'); -%>
