<%- include('templates/header.ejs'); -%>


<!-- Page Heading -->
<h1 class="mb-4 mt-4"><% title %></h1>

<div class="row">
  <!-- card -->
  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"></h6>
      </div>
      <div class="card-body">
        <p></p>


        </div>
    </div>
  </div>

  <!-- Card Header - Accordion -->
  <div class="card shadow mb-4">

    <a  href="#collapseQuestion1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary"></h6>
    </a>
    <!-- Collapsing Answers -->
    <div class="collapse" id="collapseQuestion1">
      <div class="card-body">

      </div>
    </div>
  </div>

<%- include('templates/footer.ejs'); -%>
