<%- include('templates/header.ejs'); -%>

  <!-- Page Heading -->
  <h1 class="mb-4 mt-4">Demo</h1>

  <div class="row">

    <!-- Demo recordings card -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Learn Breton is just one click away!</h6>
        </div>
        <div class="card-body">
          <ul>
            <li>Day one samples</li>
            <li><audio src="traouegezh/enrolladennaoueg/demobrffr/01.wav" controls /></li>
            <li><audio src="traouegezh/enrolladennaoueg/demobrffr/01.wav" controls /></li>
            <li><audio src="traouegezh/enrolladennaoueg/demobrffr/01.wav" controls /></li>
            <li><audio src="traouegezh/enrolladennaoueg/demobrffr/01.wav" controls /></li>
          </ul>
          <p>Here a list of the demo recordings</p>

        </div>
      </div>
    </div>

    <!-- Instructions card -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">How do I learn?</h6>
        </div>
        <div class="card-body">
          <p>In this window will be explainained how to procede to start learning</p>
        </div>
      </div>
    </div>

  </div>

<%- include('templates/footer.ejs'); -%>
