<%- include('templates/header.ejs'); -%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Container -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="mb-4 mt-4">Demo</h1>

          <div class="row">
            <!-- Stripe card -->
            <div class="col-lg-6">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Demo</h6>
                </div>
                <div class="card-body">
                  <p>Here a list of the demo recordings</p>

                  </div>
              </div>
            </div>

            <!-- Subscription instructions card -->
            <div class="col-lg-6">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">How do I learn?</h6>
                </div>
                <div class="card-body">
                  <p>In this windows will be explainained how to procede to start learning</p>
                </div>
              </div>
            </div>

          </div>

<%- include('templates/footer.ejs'); -%>
