<%- include('templates/header.ejs'); %>

<!-- Page Heading -->
<h1 class="mb-4 mt-4">Autres méthodes ?</h1>

<div class="row">
  <!-- card -->
  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Il n'y a pas d'autres dialectes disponible pour l'instant...</h6>
      </div>
      <div class="card-body">
        Mais c'est en route ! Notre objectif est de faire honneur à la richesse linguistique bretonne, mais c'est beaucoup de travail et ça prend du temps. <br>


      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">C'hoant 'm eus kemer perzh</h6>
      </div>
      <div class="card-body">
         Mar anavezit ur rann-yezh disheñvel a'r re a vez kinniget amañ ha pa vefec'h mennet da sevel un hentenn nevez, kasit dimp ur postel da <i>emgav@eienn.bzh</i>. <br>
         Gallout a ray bezañ gopret al labour.

      </div>
    </div>
  </div>
</div>

<%- include('templates/footer.ejs'); -%>
