<%- include('../../views/templates/header.ejs'); %>

<!-- Page Heading -->

<h1 style="position: relative"class="mb-4 mt-4">Démo : Accent de Basse-Cornouaille</h1>

  <!-- Card Header - Accordion -->
  <div class="card shadow mb-4">

    <a  href="#collapseQuestion" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Essayez tout de suite</h6>
    </a>
    <!-- Collapsing Answers -->
    <div class="collapse show" id="collapseQuestion">
      <div class="card-body">
        <img src="/images/kartenn0.png" style="float: left; width: 20%;margin: 1rem;">

        <p>
          Sur cette page vous pouvez tester dès maintenant la méthode. Pour l'instant, il s'agit de la seule disponible, mais d'autres suivront !
          Les deux voix que vous pourrez entendre prononceront les mots d'une manière légérement différente.
          Alan a un accent de Basse-Cornoualle, (en vert sur la carte), alors que Bleuenn donnera une prononciation plus standard afin d'habituer vos oreilles à différentes pronociations.<br>
          Bonne écoute, et bonne chance !<br>
        </p>
        <p style="right: 2rem; position: absolute; bottom: 1rem">Trugarez da Seongwoo Kang evit ar gartenn /<br>
        Merci à Seongwoo Kang pour la carte (<a href="https://www.youtube.com/channel/UCne-g9ps6QAhUmd0yrive0g">Youtube</a>)</p>
      </div>
    </div>
  </div>

<h2 style="text-align: right; margin: 0 !important;" class="mb-5 mt-5" id="mainTitle"></h2>

<!-- Main Row -->
<div class="row alert-position">

  <!-- Left Column -->
  <div class="col-lg-6">
    <!-- Top Left Card [TLC] -->
    <!-- Player -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" id="TLCTitle"></h6>
      </div>
      <div class="card-body">
        <div>
          <audio src="" id="audioSource" type="audio/wav">
          </div>
          <div class="player">
            <div class="tenSec fLeft" onclick="add(-10);">
              <div class="minSign"></div>
            </div>
            <div class="tenSec fRight" onclick="add(10);">
              <div class="plSign"></div>
            </div>
            <br>
            <div class="tenS"></div><br>
            <div class="paused" id="playBtn"></div> <br>
            <div class="fRight">
              <div style="background: url('/css/player/next.svg'); display: block; width: 75px; height: 75px;" onclick="nextFile()" class="fRight" id="next"></div>
            </div>
            <div class="fLeft"">
              <div style="background: url('/css/player/previous.svg'); display: block; width: 75px; height: 75px;" onclick="prevFile()" class="fRight" id="prev"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card Header - Accordion -->
      <div class="card shadow mb-4">
        <div  href="#collapseQuestion1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary"  id="TRCTitle"></h6>
        </div>
        <!-- Collapsing Answers -->
        <div class="collapse"  id="collapseQuestion1">
          <div class="card-body" id="TRCContent">
          </div>
        </div>
      </div>

      <script type="text/javascript">
        // Changes the title of the card following the advancement
        var file = <%= file %>;
        var audioSource = document.getElementById('audioSource');
        var playPause = document.getElementById('playBtn');

        var s, p, titleText, title, h1Text, h1;

        function setTLCTitle(file) {
          s = Math.ceil(parseInt(file) / 7);
          p = parseInt(file) % 7;
          p = (p == 0) ? 7 : p;

          if (s > 2) {
            s = `Sizhun ${s}`
          } else {
            s = `Semaine ${s}`
          }
          titleText = `${s} / Podcast ${p}`;
          title = document.getElementById('TLCTitle');
          title.innerHTML = titleText;

          //h1Text = (parseInt(file) == null)? 'Accueil' :  `Kentel ${file}`;
          //h1 = document.getElementsByTagName('h1');
          //h1[0].innerText = h1Text;
        }

        // Check if there are metadata for the next lesson, hide nextbtn when false
        function setLimits(file) {
          var prevbtn = document.getElementById('prev');
          var nextbtn = document.getElementById('next');
          var xhrLim = new XMLHttpRequest();
          var urlLim = '/traouegezh/brdzffrmeta/' + (parseInt(file) + 1).toString() + '.json';

          function removeNext() {
            nextbtn.style.display = "none";
          }

          xhrLim.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 404) {
              removeNext();
            }
          }

          xhrLim.open('GET', urlLim, true);
          xhrLim.send();

          if (file == 1) {
            prevbtn.style.display = "none";
          } else {
            prevbtn.style.display = nextbtn.style.display = "block";
          }
        }

        function chargeData(file) {
          setTLCTitle(file);
          audioSource.setAttribute("src", `/traouegezh/brdzffr/${file}.wav`);
          playPause.setAttribute('class', 'paused');
          setLimits(file);
        }

        window.onload = chargeData(file);

        //Play&Pause button
        function switchState(x) {
          if (x) {
            audioSource.currentTime = x;
          }
          if (audioSource.paused == true) {
            audioSource.play();
            playPause.setAttribute('class', 'playing');
          } else {
            audioSource.pause();
            playPause.setAttribute('class', 'paused');
          }
        }

        function playAndPause() {

          function checkKey(e) {
            if (e.charCode == 32 ) {
              switchState();
              e.preventDefault();
            }
          }

          playPause.addEventListener('click', function() {
            switchState();
          }, false);

          window.addEventListener("keypress", checkKey, false);
        }

        function add(x) {
          audioSource.currentTime += x;
        }

        window.onload = playAndPause();

        //Previous&Next buttons
        function prevFile() {
          file = parseInt(file);
          file--;
          chargeData(file);
          chargeMetaData(file);
        }

        function nextFile() {
          file = parseInt(file);
          file++;
          chargeData(file);
          chargeMetaData(file);
        }

      </script>





      <!-- Left Column End -->
    </div>

    <!-- Right Column -->
    <div class="col-lg-6">
      <!-- Top Left Card [TLC] -->


      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary" id="TRCTitleBis"></h6>
        </div>
        <div class="card-body" id="TRCContentBis">
        </div>
      </div>

      <script type="text/javascript">
        // Request and put the metadata in the cards
        var lessonTitle = document.getElementById('mainTitle');
        var titleTRC = document.getElementById('TRCTitle');
        var contentTRC = document.getElementById('TRCContent');
        var titleTRC2 = document.getElementById('TRCTitleBis');
        var contentTRC2 = document.getElementById('TRCContentBis');

        document.onload = chargeMetaData(file);

        function chargeMetaData(file) {
          var xhr = new XMLHttpRequest();
          var url = `/traouegezh/brdzffrmeta/${file}.json`;


          xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              var metaData = JSON.parse(this.responseText.replace(/\n/g, ''));
              setTRCTitles(metaData),
              setTRCBodies(metaData);
            }
          }

          xhr.open('GET', url, true);
          xhr.send();

          function setTRCTitles(data) {
            let thisTitle = data.title;
            lessonTitle.innerHTML = thisTitle;
            titleTRC.innerHTML = data.title1;
            titleTRC2.innerHTML = data.title2;
          }
          function setTRCBodies(data) {
            contentTRC.innerHTML = data.body1;
            contentTRC2.innerHTML = data.body2;
          }
        }

      </script>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Lec'hiennoù talvoudus / Adresses utiles</h6>
        </div>
        <div class="card-body" style="text-align:center; display: flex; justify-content: space-evenly; flex-wrap: wrap; align-items: center; padding: 2rem;">
          <a href="https://geriafurch.bzh/" target="blank">
            <figure style="text-align: center; margin: 1.5rem; margin-top: 0; float: left;">
              <img src="https://geriafurch.bzh/apple-icon-114x114.png" style="border-radius: 1.5rem;" alt="Balafenn">
              <figcaption>Geriafurch</figcaption>
            </figure>
          </a>
          <a href="https://www.geobreizh.bzh/" target="blank">
            <figure style="text-align: center; margin: 1.5rem; margin-top: 0; float: left;">
              <img src="https://www.geobreizh.bzh/wp-content/uploads/2020/05/cropped-Logo-Geobreizh-carr%C3%A9-1-180x180.png" style="border-radius: 1.5rem; height: 114px;" alt="Erminig">
              <figcaption>Geobreizh</figcaption>
            </figure>
          </a>
          <a href="https://drouizig.org/" target="blank">
            <figure style="text-align: center; margin: 1.5rem; margin-top: 0; float: left;">
              <img src="https://drouizig.org/images/drouizig-drouiz.png" style="border-radius: 1.5rem; height: 114px;" alt="Drouizig">
              <figcaption>An Drouizig</figcaption>
            </figure>
          </a>
          <a href="http://meurgorf.brezhoneg.bzh/" target="blank">
            <figure style="text-align: center; margin: 1.5rem; margin-top: 0; float: left;">
              <img src="/images/OPAB.png" style="border-radius: 1.5rem; height: 114px;" alt="an Ofis">
              <figcaption>Meurgorf</figcaption>
            </figure>
          </a>
          <a href="https://www.dispak.bzh/" target="blank">
            <figure style="text-align: center; margin: 1.5rem; margin-top: 0; float: left;">
              <img src="https://www.dispak.bzh/wp-content/uploads/2018/08/cropped-dispak-logo-09-192x192.png" style="border-radius: 1.5rem; height: 114px;" alt="KB">
              <figcaption>Dispak</figcaption>
            </figure>
          </a>
        </div>
      </div>



      <!-- Right Column End -->
    </div>

    <!-- Main Row End -->
  </div>

<%- include('../../views/templates/footer.ejs'); -%>
