<% if (email) { %>
  <%- include('../../views/templates/header.ejs'); %>
<% } else { %>
    <%- include('../../views/templates/headerno.ejs'); %>
<% } %>

  <!-- Page Heading -->
  <h1 class="mb-4 mt-4">La langue bretonne</h1>

  <div class="row">


    <!-- Instructions card -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Une démo et trois questions pour découvrir la langue bretonne</h6>
        </div>
        <div class="card-body">
          <p>Vous pouvez trouver ci-dessous <strong>nos trois questions</strong> pour (presque) tout connaitre du breton,
            ou bien passer directement à vos premières leçons via notre <strong>démo</strong> pour comprendre comment la méthode fonctionne.
            <br>Vos talents et votre rapidité d'apprentissage vous surprendront!
          </p>
        </div>
      </div>
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a  href="#collapseQuestion1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">Depuis quand parle-t-on breton en Bretagne ?</h6>
        </a>
        <!-- Collapsing Answers -->
        <div class="collapse" id="collapseQuestion1">
          <div class="card-body">
            Durant l'antiquité alors que la Bretagne s'appelait encore Armorique et le mot Bretagne ne désignait que l'île qui est aujourd'hui la Grande-Bretagne.
            C'est la combinaison de la chute de l'Empire Romain et des invasions germaniques (anglo-saxonnes) qui ont poussé les Bretons à trouver refuge,
            soit vers l'ouest et le sud-ouest de l'île, soit de l'autre côté de la mer... en Armorique!
            C'est à cette époque, entre le cinquième et le septième siècle que les Bretons débarquèrent sur les côtes armoricaines, apportant leur langue avec eux.
            En grande Bretagne, les Anglo-Saxons créèrent le Royaume d'Angleterre, intégrant successivement les autres parties de l'île aujourd'hui encore considérées comme 'celtiques',
            la Cornouailles (dès le XXI<sup>ième</sup> siècle), le Pays de Galles en 1536 et finalement l'Ecosse en 1701 lors de la création du Royaume-Unis.
            Les Bretons 'armoricains' quand à eux créèrent un royaume, qui devint un duché, lui-même intégré aux Royaume de France en 1532.
            Mais la langue elle, n'a que peu de point commun avec la Bretagne politique, comme on le verra dans prochaine question...
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a  href="#collapseQuestion2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">Qu'est-ce que la Basse-Bretagne ?</h6>
        </a>
        <!-- Collapsing Answers -->
        <div class="collapse" id="collapseQuestion2">
          <div class="card-body">
            Avant l'arrivée des Bretons, l'Armorique était gallo-romaine, bien qu'on la considère avoir été moins romanisée que les autres parties de la Gaules.
            Les dialectes de ces Gallo-Romains allait donner naissance au Francoprovençal (dans l'est de la France, le nord de l'Italie et en Suisse) et aux langue d'Oïls, dont la langue Française est la plus répendue.
            Cependant le gallo-roman a également donné une autre langue (d'Oïl) dans l'est de la Bretagne, le gallo.
            Les frontières de la langue bretonne ne se sont en effet jamais étendues aussi loin que celles de la Bretagne politique et se sont cantonnées à la partie ouest de la péninsule.
            Une autre différence entre les frontières des Bretagnes linguistique et politique, c'est que contrairement aux frontières du Duché, qui sont restées quasiment immobiles au fil des siècles,
            la limite entre Haute-Bretagne (à l'est, où l'on parle le gallo) et Basse-Bretagne (la Bretagne dite bretonnante) a constamment bougée au cours de l'histoire, d'abord vers l'est,
            puis vers l'ouest après les incurtions vicking du X<sup>ième</sup> siècle. Au début du siècle dernier, cette ligne s'étendait de Plouha à Vannes (avec encore quelques locuteurs dans une poche de la presqu'île de Batz).
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a  href="#collapseQuestion3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">A quelles autres langues ressemble le Breton ?</h6>
        </a>
        <!-- Collapsing Answers -->
        <div class="collapse" id="collapseQuestion3">
          <div class="card-body">
            Nous avons vu que la langue Bretonne est une langue celtique. Elle fait donc partie de la grande famille des langues Indo-Européennes, comme les langues slaves (dont le Russe),
            les langues indo-iraniennes (dont l'indi, le persan ou encore le kurde), les langues romanes et encore de nombreux autres groupes.
            Le gaulois (du sous-groupe des langues celtiques continentales), dont certaines formes ont été parlés en Armorique, était cependant assez différent du breton, qui est une langue celtique insulaire.
            Toutes les langues celtiques encore parlées aujourd'hui appartiennent à ce sous-groupe insulaire, ce qui signifie qu'elles sont originaire soit d'Irlande (langues gaéliques, comme l'irlandais et le gaélique écossais),
            soit de Grande-Bretagne (les langues britonniques).
            Le groupe des langues Britonniques comprend deux langues encore vivantes, qui sont le breton et le gallois, la langue du Pays de Galles, qui est donc la langue vivante la plus proche du breton, malgré des différences très marqués.
            Mais on connait une troisième langue britonnique, éteinte au XVIII<sup>ième</sup> siècle encore plus proche du breton, le cornouaillais.
            En fait on considère que les deux langues sont restés intercompréhensibles aux premiers siècles du Moyen-âge et le cornouaillais reste toujours déchiffrable à l'écris pour des bretonnant expérimentés.
          </div>
        </div>
      </div>

    </div>

    <!-- Demo recordings card -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Plus qu'un click pour apprendre le breton !</h6>
        </div>
        <div class="card-body">
          <ul>
            <li>Premier jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/01.wav" controls /></li>
            <li>Deuxième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/02.wav" controls /></li>
            <li>Troisième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/03.wav" controls /></li>
            <li>Quatrième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/04.wav" controls /></li>
            <li>Cinquième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/05.wav" controls /></li>
            <li>Sixième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/06.wav" controls /></li>
            <li>Septième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/07.wav" controls /></li>
          </ul>
        </div>
      </div>
    </div>




  </div>

<%- include('../../views/templates/footer.ejs'); -%>
