<% if (email) { %>
  <%- include('../../views/templates/header.ejs'); %>
<% } else { %>
    <%- include('../../views/templates/headerno.ejs'); %>
<% } %>

  <!-- Page Heading -->
  <h1 class="mb-4 mt-4">La langue bretonne</h1>

  <div class="row">


    <!-- Instructions card -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Une démo et trois questions pour découvrir la langue bretonne</h6>
        </div>
        <div class="card-body">
          <p>Vous pouvez trouver ci-dessous <strong>nos trois questions</strong> pour (presque) tout connaitre du breton,
            ou bien passer directement à vos premières leçons via notre <strong>démo</strong> pour comprendre comment la méthode fonctionne.
            <br>Vos talents et votre rapidité d'apprentissage vous surprendront!
          </p>
        </div>
      </div>
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a  href="#collapseQuestion1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">Depuis quand parle-t-on breton en Bretagne ?</h6>
        </a>
        <!-- Collapsing Answers -->
        <div class="collapse" id="collapseQuestion1">
          <div class="card-body">
            This is a collapsable card example using Bootstrap's built in collapse functionality. <strong>Click on the card header</strong> to see the card body collapse and expand!
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a  href="#collapseQuestion2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">Qu'est-ce que la Basse-Bretagne ?</h6>
        </a>
        <!-- Collapsing Answers -->
        <div class="collapse" id="collapseQuestion2">
          <div class="card-body">
            This is a collapsable card example using Bootstrap's built in collapse functionality. <strong>Click on the card header</strong> to see the card body collapse and expand!
          </div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <!-- Card Header - Accordion -->
        <a  href="#collapseQuestion3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-primary">A quelles autres langues ressemble le Breton ?</h6>
        </a>
        <!-- Collapsing Answers -->
        <div class="collapse" id="collapseQuestion3">
          <div class="card-body">
            This is a collapsable card example using Bootstrap's built in collapse functionality. <strong>Click on the card header</strong> to see the card body collapse and expand!
          </div>
        </div>
      </div>

    </div>

    <!-- Demo recordings card -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Plus qu'un click pour apprendre le breton !</h6>
        </div>
        <div class="card-body">
          <ul>
            <li>Premier jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/01.wav" controls /></li>
            <li>Deuxième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/02.wav" controls /></li>
            <li>Troisième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/03.wav" controls /></li>
            <li>Quatrième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/04.wav" controls /></li>
            <li>Cinquième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/05.wav" controls /></li>
            <li>Sixième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/06.wav" controls /></li>
            <li>Septième jour</li>
            <li><audio style="width:100%" src="traouegezh/demobrffr/07.wav" controls /></li>
          </ul>
        </div>
      </div>
    </div>




  </div>

<%- include('../../views/templates/footer.ejs'); -%>
