<div class="alert alert-heading alert-success">
<<<<<<< HEAD
  <p><strong>Mot de passe réinisialisé avec succès!</strong> <br> Félicitation, voici votre nouveau mot de passe: <%= newPassword %> <br> Notez-le bien puis réactualisez cette page pour éffacer ce message.<p/>
=======
  <p>
    <strong>Mot de passe réinisialisé avec succès!</strong>
    <br>
    Félicitation, voici votre nouveau mot de passe: <%= newPassword %>
    <br> 
    Notez-le bien puis réactualisez cette page pour éffacer ce message.
  <p/>
>>>>>>> interface
</div>
