<div class="alert alert-heading alert-success">
  <p><strong>Mot de passe réinisialisé avec succès!</strong> <br> Félicitation, voici votre nouveau mot de passe: <%= newPassword %> <br> Notez-le bien puis réactualisez cette page pour éffacer ce message.<p/>
</div>
